@model HomeViewModel

<div class="card-body">
    <div class="table-responsive">
        <h5>Son Aktiviteler</h5>
        <table class="table table-bordernone">
            <thead>
                <tr>
                    <th>Oluşturan Personel</th>
                    <th>İşlem Türü</th>
                    <th>İlgili Üye</th>
                    <th>Tarih</th>
                    <th>
                        <div class="setting-list">
                            <ul class="list-unstyled setting-option">
                                <li>
                                    <div class="setting-primary"><i class="icon-settings"></i></div>
                                </li>
                                <li><i class="view-html fa fa-code font-primary"></i></li>
                                <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
                                <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
                                <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
                                <li><i class="icofont icofont-error close-card font-primary"></i></li>
                            </ul>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tasks)
                {
                    <tr>
                        <td>
                            <div class="media">
                                <img style="height:35px; width:35px;" class="img-fluid rounded-circle" src="@item.User_IMG" alt="" data-original-title="" title="">
                                <div class="media-body"><a asp-action="UserSettings" asp-controller="Personals" asp-route-id="@item.User_ID"><span>@item.UserName</span></a></div>
                            </div>
                        </td>
                        <td>
                            <p>@item.Description</p>
                        </td>
                        <td>
                            <a asp-action="OpenedMember" asp-controller="Members" asp-route-id="@item.Member_ID"><p style="font-weight:bold;">@item.MemberName</p></a>
                        </td>
                        <td><p>@item.Create_Date.ToShortDateString()</p></td>
                        @*<td>
                            <a asp-action="Delete_Task" asp-controller="Home" asp-route-id="@item.Task_ID"><p>Sil</p></a>
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="code-box-copy">
        <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#recent-order" title="Copy"><i class="icofont icofont-copy-alt"></i></button>
    </div>
</div>