@model MembersViewModel

<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Üye Kartı</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Members" asp-action="AllMembers">Üyeler</a></li>
                    <li class="breadcrumb-item"><a>Üye Bilgileri</a></li>
                </ol>
            </div>
            <div class="col-sm-6">

                <!-- Bookmark Start-->
                <div class="bookmark">
                    <ul>
                        <li><a asp-action="Index" asp-controller="Home"><i data-feather="home"></i></a></li>
                        <li><a asp-action="CheckInMember" asp-controller="Members"><i data-feather="user-plus"></i></a></li>
                        <li><a asp-action="Index" asp-controller="Personals"><i data-feather="briefcase"></i></a></li>
                        <li><a asp-action="AllMembers" asp-controller="Members"><i data-feather="database"></i></a></li>
                        <li><a asp-action="ExcersizeRoom" asp-controller="ExcersizeRoom"><i data-feather="clipboard"></i></a></li>
                        <li><a href="https://burakkansu.com" target="_blank"><i data-feather="info"></i></a></li>

                    </ul>
                </div>
                <!-- Bookmark Ends-->

            </div>
        </div>
    </div>
</div>

<div class="col-xl-12 col-md-12 box-col-12 xl-12">
    <div class="email-right-aside bookmark-tabcontent contacts-tabs">
        <div class="card email-body radius-left">
            <div class="ps-0">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="pills-personal" role="tabpanel" aria-labelledby="pills-personal-tab">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="row list-persons" id="addcon">
                                    <div id="divEditPage" class="col-xl-12 xl-12 col-md-12 box-col-12">
                                        <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane tab-content-child fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                                                <div class="profile-mail mb-0">
                                                    <div class="media align-items-center">
                                                        <img class="img-100 img-fluid m-r-40 rounded-circle update_img_0" src="@Model.Member.IMG" alt="">
                                                        <input class="updateimg" type="file" name="img" onchange="readURL(this,0)">
                                                        <div class="media-body mt-0">
                                                            <h5><span class="first_name_0">@Model.Member.Name</span><span class="last_name_0">@Model.Member.Surname</span></h5>
                                                            <p class="email_add_0">@Model.Member.Mail</p>
                                                            <ul>
                                                                @if (Model.Member.Block == 0)
                                                                {
                                                                    <li><a asp-action="CheckInMember" asp-controller="Members" asp-route-id="@Model.Member.Member_ID">Düzenle</a></li>
                                                                    <li><a asp-action="PassiveMember" asp-controller="Members" asp-route-id="@Model.Member.Member_ID" asp-route-special="1">Pasifleştir</a></li>
                                                                }
                                                                @if (Model.Member.Block == 1)
                                                                {
                                                                    <li><div class="span badge rounded-pill pill-badge-danger p-2"><a asp-action="ActiveMember" asp-controller="Members" asp-route-id="@Model.Member.Member_ID" asp-route-special="1"class="font-size:20px;" style="color:white;"> Aktifleştir</a></div></li>
                                                                }
                                                                @if (Model.Member.RemainingDay < 0)
                                                                {
                                                                    <li><div class="span badge rounded-pill pill-badge-secondary p-2"><p class="font-size:20px;">@Model.Member.RemainingDay Gün</p></div></li>
                                                                }
                                                                @if (Model.Member.RemainingDay >= 0)
                                                                {
                                                                    <li><div class="span badge rounded-pill pill-badge-primary p-2"><p class="font-size:20px;">@Model.Member.RemainingDay Gün</p></div></li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="email-general">
                                                        <h6 class="mb-3">Kişisel Bilgiler</h6>
                                                        <ul>
                                                            <li>İsim <span class="font-primary first_name_0">@Model.Member.Name</span></li>
                                                            <li>Soyisim <span class="font-primary">@Model.Member.Surname</span></li>
                                                            <li>Telefon Numarası<span class="font-primary mobile_num_0">@Model.Member.Phone</span></li>
                                                            <li>Email<span class="font-primary email_add_0">@Model.Member.Mail</span></li>
                                                            <li>Adres<span class="font-primary email_add_0">@Model.Member.Adress</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="email-general">
                                                        <h6 class="mb-3">Kayıt Bilgileri</h6>
                                                        <ul>
                                                            <li>Kayıt Ücreti <span class="font-primary email_add_0">@Model.Member.Price</span></li>
                                                            <li>Kayıt Tarihi <span class="font-primary email_add_0">@Model.Member.Registration_Date.ToString("MM/dd/yyyy")</span></li>
                                                            <li>Kayıt Bitişi <span class="font-primary email_add_0">@Model.Member.Registration_Time.ToString("MM/dd/yyyy")</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="email-general">
                                                        <h6 class="mb-3">Program Bilgileri</h6>
                                                        <ul>
                                                            <li>Kullanılan Egzersiz<span class="font-primary email_add_0">@Model.MemberExcersize.Excersize_Name</span></li>
                                                            <li>Kullanılan Diyet<span class="font-primary email_add_0">@Model.MemberDiet.Diet_Name</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Container-fluid starts-->
<div class="container-fluid user-card">
    <div class="row">

        <div class="col-md-4 col-lg-4 col-xl-3 box-col-4">
            <div class="card custom-card">
                <div style="height:250px; text-align:center">
                    <a href="javascript:void(0)" data-bs-toggle="modal" data-original-title="test" data-bs-target="#Excersize">
                        <img style="height:250px;object-fit:contain;" class="img-fluid" src="@Model.MemberExcersize.IMG" alt="">
                    </a>
                </div>
                <div class="text-center profile-details">
                    <ul class="card-social">

                        @if (Model.MemberExcersize.Excersize_ID == 0)
                        {
                            <li><a asp-action="CheckInMember" asp-controller="Members" asp-route-id="@Model.Member.Member_ID"><i class="fa fa-plus"></i></a></li>
                        }
                        else
                        {
                            <li><a href="javascript:void(0)" data-bs-toggle="modal" data-original-title="test" data-bs-target="#Excersize"><i class="fa fa-picture-o"></i></a></li>
                            <!-- Modal-->
                            <div class="modal fade" id="Excersize" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">@Model.Member.FullName - Egzersiz Programı</h5>
                                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img class="img-fluid" src="@Model.MemberExcersize.IMG" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <li><a asp-action="CheckInMember" asp-controller="Members" asp-route-id="@Model.Member.Member_ID"><i class="fa fa-refresh"></i></a></li>
                            <li><a asp-action="DeleteMemberExcersize" asp-controller="Members" asp-route-id="@Model.Member.Member_ID"><i class="fa fa-trash"></i></a></li>
                        }

                    </ul>
                    <a asp-action="ExcersizeRoom" asp-controller="ExcersizeRoom">
                        <h4>@Model.MemberExcersize.Excersize_Name</h4>
                    </a>
                    <h6>@Model.MemberExcersize.Author</h6>
                    <h6>Egzersiz Programı</h6>
                </div>
                <div class="card-footer row">
                    <div class="col-6 col-sm-6">
                        <h6>Kullanım</h6>

                        @if (Model.MemberExcersize.Excersize_ID != 0)
                        {
                            <p class="counter">@Model.MemberExcersize.Count</p>
                        }
                        else
                        {
                            <p class="counter">-</p>
                        }
                    </div>
                    <div class="col-6 col-sm-6">
                        <h6>Eklenme Tarihi</h6>
                        @if (Model.MemberExcersize.Excersize_ID != 0)
                        {
                            <p>@Model.MemberExcersize.Registration_Date.ToShortDateString()</p>
                        }
                        else
                        {
                            <p class="counter">-</p>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-3 box-col-4">
            <div class="card custom-card">
                <div style="height:250px; text-align:center">
                    <a href="javascript:void(0)" data-bs-toggle="modal" data-original-title="test" data-bs-target="#Diet">
                        <img style="height:250px;object-fit:contain;" class="img-fluid" src="@Model.MemberDiet.IMG" alt="">
                    </a>
                </div>
                <div class="text-center profile-details">
                    <ul class="card-social">

                        @if (Model.MemberDiet.Diet_ID == 0)
                        {
                            <li><a asp-action="CheckInMember" asp-controller="Members" asp-route-id="@Model.Member.Member_ID"><i class="fa fa-plus"></i></a></li>
                        }
                        else
                        {
                            <li><a href="javascript:void(0)" data-bs-toggle="modal" data-original-title="test" data-bs-target="#Diet"><i class="fa fa-picture-o"></i></a></li>
                            <!-- Modal-->
                            <div class="modal fade" id="Diet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">@Model.Member.FullName - Diyet Programı</h5>
                                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img class="img-fluid" src="@Model.MemberDiet.IMG" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <li><a asp-action="CheckInMember" asp-controller="Members" asp-route-id="@Model.Member.Member_ID"><i class="fa fa-refresh"></i></a></li>
                            <li><a asp-action="DeleteMemberDiet" asp-controller="Members" asp-route-id="@Model.Member.Member_ID"><i class="fa fa-trash"></i></a></li>
                        }

                    </ul>
                    <a asp-action="DietRoom" asp-controller="DietRoom">
                        <h4>@Model.MemberDiet.Diet_Name</h4>
                    </a>
                    <h6>@Model.MemberDiet.Author</h6>
                    <h6>Diyet Programı</h6>
                </div>
                <div class="card-footer row">
                    <div class="col-6 col-sm-6">
                        <h6>Kullanım</h6>

                        @if (Model.MemberDiet.Diet_ID != 0)
                        {
                            <p class="counter">@Model.MemberDiet.Count</p>
                        }
                        else
                        {
                            <p class="counter">-</p>
                        }
                    </div>
                    <div class="col-6 col-sm-6">
                        <h6>Eklenme Tarihi</h6>
                        @if (Model.MemberDiet.Diet_ID != 0)
                        {
                            <p>@Model.MemberDiet.Registration_Date.ToShortDateString()</p>
                        }
                        else
                        {
                            <p class="counter">-</p>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-3 box-col-4">
            <div class="card custom-card">
                <div style="height:250px; text-align:center">
                    <a href="javascript:void(0)" data-bs-toggle="modal" data-original-title="test" data-bs-target="#Identity_Card">
                        <img style="height:250px;object-fit:contain;" class="img-fluid" src="@Model.Member.Identity_Card" alt="">
                    </a>
                </div>
                <div class="text-center profile-details">
                    <ul class="card-social">
                        <li><a href="javascript:void(0)" data-bs-toggle="modal" data-original-title="test" data-bs-target="#Identity_Card"><i class="fa fa-picture-o"></i></a></li>
                        <!-- Modal-->
                        <div class="modal fade" id="Identity_Card" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">@Model.Member.FullName - Kimlik Kartı</h5>
                                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img class="img-fluid" src="@Model.Member.Identity_Card" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li><a asp-action="CheckInMember" asp-controller="Members" asp-route-id="@Model.Member.Member_ID"><i class="fa fa-refresh"></i></a></li>
                        <li><a asp-action="CheckInMember" asp-controller="Members" asp-route-id="@Model.Member.Member_ID"><i class="fa fa-trash"></i></a></li>
                    </ul>
                    <a asp-action="DietRoom" asp-controller="DietRoom">
                        <h4>@Model.Member.FullName</h4>
                    </a>
                    <h6>-</h6>
                    <h6>Kimlik Kartı</h6>
                </div>
                <div class="card-footer row">
                    <div class="col-6 col-sm-6">
                        <h6>Kullanım</h6>
                        <p class="counter">Şahsi</p>
                    </div>
                    <div class="col-6 col-sm-6">
                        <h6>Eklenme Tarihi</h6>
                        <p class="counter">@Model.Member.Registration_Date.ToShortDateString()</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-3 box-col-4">
            <div class="card custom-card">
                <div style="height:250px; text-align:center">
                    <a href="javascript:void(0)" data-bs-toggle="modal" data-original-title="test" data-bs-target="#HealthReport">
                        <img style="height:250px;object-fit:contain;" class="img-fluid" src="@Model.Member.Health_Report" alt="">
                    </a>
                </div>
                <div class="text-center profile-details">
                    <ul class="card-social">
                        <li><a href="javascript:void(0)" data-bs-toggle="modal" data-original-title="test" data-bs-target="#HealthReport"><i class="fa fa-picture-o"></i></a></li>
                        <!-- Modal-->
                        <div class="modal fade" id="HealthReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">@Model.Member.FullName - Sağlık Raporu</h5>
                                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img class="img-fluid" src="@Model.Member.Health_Report" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <li><a asp-action="CheckInMember" asp-controller="Members" asp-route-id="@Model.Member.Member_ID"><i class="fa fa-refresh"></i></a></li>
                        <li><a asp-action="CheckInMember" asp-controller="Members" asp-route-id="@Model.Member.Member_ID"><i class="fa fa-trash"></i></a></li>
                    </ul>
                    <a asp-action="DietRoom" asp-controller="DietRoom">
                        <h4>@Model.Member.FullName</h4>
                    </a>
                    <h6>-</h6>
                    <h6>Sağlık Raporu</h6>
                </div>
                <div class="card-footer row">
                    <div class="col-6 col-sm-6">
                        <h6>Kullanım</h6>
                        <p class="counter">Şahsi</p>
                    </div>
                    <div class="col-6 col-sm-6">
                        <h6>Eklenme Tarihi</h6>
                        <p class="counter">@Model.Member.Registration_Date.ToShortDateString()</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
