@model ExFit.Models.HomeViewModel

<div class="row">
    <div class="col-xl-12 recent-order-sec">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <h5>Son Aktiviteler</h5>
                    <table class="table table-bordernone">
                        <thead>
                            <tr>
                                <th>Oluşturan Personel</th>
                                <th>İşlem Türü</th>
                                <th>İlgili Üye</th>
                                <th>Tarih</th>
                                <th>
                                    <div class="setting-list">
                                        <ul class="list-unstyled setting-option">
                                            <li>
                                                <div class="setting-primary"><i class="icon-settings"></i></div>
                                            </li>
                                            <li><i class="view-html fa fa-code font-primary"></i></li>
                                            <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
                                            <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
                                            <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
                                            <li><i class="icofont icofont-error close-card font-primary"></i></li>
                                        </ul>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Tasks)
                            {
                                <tr>
                                    <td>
                                        <div class="media">
                                            <img style="height:35px; width:35px;" class="img-fluid rounded-circle" src="@item.User_IMG" alt="" data-original-title="" title="">
                                            <div class="media-body"><a asp-action="UserSettings" asp-controller="Personals" asp-route-id="@item.User_ID"><span>@item.UserName</span></a></div>
                                        </div>
                                    </td>
                                    <td>
                                        <p>@item.Description</p>
                                    </td>
                                    <td>
                                        <p>@item.MemberName</p>
                                    </td>
                                    <td><p>@item.Create_Date.ToShortDateString()</p></td>
                                    <td>
                                        <a asp-action="Delete_Task" asp-controller="Home" asp-route-id="@item.Task_ID"><p>Sil</p></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="code-box-copy">
                    <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#recent-order" title="Copy"><i class="icofont icofont-copy-alt"></i></button>
                    <pre><code class="language-html" id="recent-order">&lt;div class="card"&gt;
 &lt;div class="card-body"&gt;
   &lt;div class="table-responsive"&gt;
     &lt;table class="table table-bordernone"&gt;
       &lt;thead&gt;
         &lt;tr&gt;
           &lt;th&gt;Name&lt;/th&gt;
           &lt;th&gt;Date&lt;/th&gt;
           &lt;th&gt;Quantity&lt;/th&gt;
           &lt;th&gt;Value&lt;/th&gt;
           &lt;th&gt;Rate&lt;/th&gt;
           &lt;th&gt;
             &lt;div class="setting-list"&gt;
               &lt;ul class="list-unstyled setting-option"&gt;
                 &lt;li&gt;
                   &lt;div class="setting-primary"&gt;&lt;i class="icon-settings"&gt; &lt;/i&gt;&lt;/div&gt;
                 &lt;/li&gt;
                 &lt;li&gt;&lt;i class="view-html fa fa-code font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
                 &lt;li&gt;&lt;i class="icofont icofont-maximize full-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
                 &lt;li&gt;&lt;i class="icofont icofont-minus minimize-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
                 &lt;li&gt;&lt;i class="icofont icofont-refresh reload-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
                 &lt;li&gt;&lt;i class="icofont icofont-error close-card font-primary"&gt;&lt;/i&gt;&lt;/li&gt;
               &lt;/ul&gt;
             &lt;/div&gt;
           &lt;/th&gt;
         &lt;/tr&gt;
       &lt;/thead&gt;
       &lt;tbody&gt;
         &lt;tr&gt;
           &lt;td&gt;
             &lt;div class="media"&gt;
               &lt;img class="img-fluid rounded-circle" src="../assets/images/dashboard/product-1.png" alt="" data-original-title="" title=""&gt;
               &lt;div class="media-body"&gt;
                 &lt;span&gt;Yellow New Nike shoes&lt;/span&gt;
               &lt;/div&gt;
             &lt;/div&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;16 August&lt;/p&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;54146&lt;/p&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;img class="img-fluid" src="../assets/images/dashboard/graph-1.png" alt="" data-original-title="" title=""&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;$210326&lt;/p&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;Done&lt;/p&gt;
           &lt;/td&gt;
         &lt;/tr&gt;
         &lt;tr&gt;
           &lt;td&gt;
             &lt;div class="media"&gt;
               &lt;img class="img-fluid rounded-circle" src="../assets/images/dashboard/product-2.png" alt="" data-original-title="" title=""&gt;
               &lt;div class="media-body"&gt;
                 &lt;span&gt;Sony Brand New Headphone&lt;/span&gt;
               &lt;/div&gt;
             &lt;/div&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;2 October&lt;/p&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;32015&lt;/p&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;img class="img-fluid" src="../assets/images/dashboard/graph-2.png" alt="" data-original-title="" title=""&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;$548526&lt;/p&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;Done&lt;/p&gt;
           &lt;/td&gt;
         &lt;/tr&gt;
         &lt;tr&gt;
           &lt;td&gt;
             &lt;div class="media"&gt;
               &lt;img class="img-fluid rounded-circle" src="../assets/images/dashboard/product-3.png" alt="" data-original-title="" title=""&gt;
               &lt;div class="media-body"&gt;
                 &lt;span&gt;Beautiful Golden Tree plant&lt;/span&gt;
               &lt;/div&gt;
             &lt;/div&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;21 March&lt;/p&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;12548&lt;/p&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;img class="img-fluid" src="../assets/images/dashboard/graph-3.png" alt="" data-original-title="" title=""&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;$589565&lt;/p&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;Done&lt;/p&gt;
           &lt;/td&gt;
         &lt;/tr&gt;
         &lt;tr&gt;
           &lt;td&gt;
             &lt;div class="media"&gt;
               &lt;img class="img-fluid rounded-circle" src="../assets/images/dashboard/product-4.png" alt="" data-original-title="" title=""&gt;
               &lt;div class="media-body"&gt;
                 &lt;span&gt;Marco M Kely Handbeg&lt;/span&gt;
               &lt;/div&gt;
             &lt;/div&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;31 December&lt;/p&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;15495&lt;/p&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;img class="img-fluid" src="../assets/images/dashboard/graph-4.png" alt="" data-original-title="" title=""&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;$125424 &lt;/p&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;Done&lt;/p&gt;
           &lt;/td&gt;
         &lt;/tr&gt;
         &lt;tr&gt;
           &lt;td&gt;
             &lt;div class="media"&gt;
               &lt;img class="img-fluid rounded-circle" src="../assets/images/dashboard/product-5.png" alt="" data-original-title="" title=""&gt;
               &lt;div class="media-body"&gt;
                 &lt;span&gt;Being Human Branded T-Shirt&lt;/span&gt;
               &lt;/div&gt;
             &lt;/div&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;26 January&lt;/p&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;56625&lt;/p&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;img class="img-fluid" src="../assets/images/dashboard/graph-5.png" alt="" data-original-title="" title=""&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;$112103&lt;/p&gt;
           &lt;/td&gt;
           &lt;td&gt;
             &lt;p&gt;Done&lt;/p&gt;
           &lt;/td&gt;
         &lt;/tr&gt;
       &lt;/tbody&gt;
     &lt;/table&gt;
   &lt;/div&gt;
 &lt;/div&gt;
&lt;/div&gt;</code></pre>
                </div>
            </div>
        </div>
    </div>
</div>