@model ExFit.Models.PersonalsViewModel
@{
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}


<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>İşe Alım</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a asp-controller="AllMembers" asp-action="Index">Personeller</a></li>
                    <li class="breadcrumb-item"><a>Yeni Personel</a></li>
                </ol>
            </div>
            <div class="col-sm-6">

                <!-- Bookmark Start-->
                <div class="bookmark">
                    <ul>
                        <li><a asp-action="Index" asp-controller="Home"><i data-feather="home"></i></a></li>
                        <li><a asp-action="CheckInMember" asp-controller="Members"><i data-feather="user-plus"></i></a></li>
                        <li><a asp-action="Index" asp-controller="Personals"><i data-feather="briefcase"></i></a></li>
                        <li><a asp-action="AllMembers" asp-controller="Members"><i data-feather="database"></i></a></li>
                        <li><a asp-action="ExcersizeRoom" asp-controller="ExcersizeRoom"><i data-feather="clipboard"></i></a></li>
                        <li><a href="https://burakkansu.com" target="_blank"><i data-feather="info"></i></a></li>

                    </ul>
                </div>
                <!-- Bookmark Ends-->

            </div>
        </div>
    </div>
</div>

<div class="col-xl-12 col-md-12 box-col-8 xl-70">
    <div class="email-right-aside bookmark-tabcontent contacts-tabs">
        <div class="card email-body radius-left">
            <div class="ps-0">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="pills-personal" role="tabpanel" aria-labelledby="pills-personal-tab">
                        <div class="card mb-0">
                            <div class="card-header d-flex">
                                <h5>Personel Kartı</h5>
                            </div>
                            <div class="card-body">
                                <div class="row list-persons" id="addcon">
                                    <div id="divEditPage" class="col-xl-12 xl-12 col-md-7 box-col-6">
                                        <div id="editpersonalform" class="contact-editform">
                                            <form enctype="multipart/form-data" method="POST" asp-controller="Personals" asp-action="Registrying">
                                                <div class="row g-2">
                                                    <div class="mt-0 mb-3 col-md-12">
                                                        <label>İsim</label>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                @Html.TextBoxFor(m => m.SelectedUser.Name, new{ @class="form-control", @type="text", @required="", @placeholder="İsim"})
                                                            </div>
                                                            <div class="col-sm-6">
                                                                @Html.TextBoxFor(m => m.SelectedUser.Surname, new{ @class="form-control", @type="text", @required="", @placeholder="Soyisim"})
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-0 mb-3 col-md-12">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label>İletişim</label>
                                                                @Html.TextBoxFor(m => m.SelectedUser.Mail, new{ @class="form-control", @type="text", @required="", @placeholder="Mail"})
                                                            </div>
                                                            <div class="col-sm-6">
                                                                @Html.TextBoxFor(m => m.SelectedUser.Phone, new{ @class="form-control", @type="text", @required="", @placeholder="Telefon Numarası"})
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-0 mb-3 col-md-12">
                                                        <label>Resim</label>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                @Html.HiddenFor(m => m.SelectedUser.IMG, new{ @class="form-control"})
                                                                @Html.HiddenFor(m => m.SelectedUser.Type, new{ @class="form-control"})
                                                                @Html.HiddenFor(m => m.SelectedUser.User_ID, new{ @class="form-control"})

                                                                @Html.TextBoxFor(m => m.file, new{ @class="form-control", @type="file", @name="file",})
                                                            </div>
                                                            <div class="col-sm-6">
                                                                @Html.TextBoxFor(m => m.SelectedUser.Position, new{ @class="form-control", @type="text", @required="", @placeholder="Pozisyon"})
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mt-0 mb-3 col-md-12">
                                                        <label>Parola</label>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                @Html.TextBoxFor(m => m.SelectedUser.Password, new{ @class="form-control", @required="", @placeholder="Parola"})
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary update-contact" type="submit">Kaydet</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
